body {
    margin: 0;
}
.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.header-row {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #7E7E7E;
    transition: all 0.3s ease-out;
}
.second-row{
    height: 60px;
    border-bottom: 1px solid #7E7E7E;
}

.header-always-small>.header-row,.header-small>.header-row {
    background: #000;
    height: 42px;
    border: none;
}
.header-always-small>.second-row,.header-small>.second-row {
    height: 41px;
    border-bottom: 1px solid #7E7E7E;
}

.menu-nav-list {
    font-size: 0;
    height: 100%;
    padding: 0;
}
.menu-item {
    display: inline-block;
    width: 20%;
    height: 100%;
    font-size: 16px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    text-align: center;
}
.menu-item:hover {
    background-color: #333333;
}
.item-label-wrapper {
    position: relative;
}
.menu-item-label{
    color: #fff;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 22px 0 5px 0;
    transition: padding 0.3s ease-in-out;
}
.header-always-small .menu-item-label,.header-small .menu-item-label {
    padding-top: 10px;
}
.menu-item-label::after {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 50%;
    bottom: -5px;
    display: block;
    width: 28px;
    height: 1px;
    margin-left: -14px;
    background-color: #7E7E7E;
}
.menu-item-label:hover {
    color: #fff;
    text-decoration: none;
}

/*悬浮二级菜单, 默认隐藏*/
.sub-menu {
    display: none;
    left: 0;
    position: absolute;
    background: #333333;
}
