<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <!-- <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css"> -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/contact_us.css">
</head>

<body>
    <header class="header-wrapper header-always-small header-small">
        <div class="header-row row">
            <div class="col-sm-3">1</div>
            <div class="col-sm-6">2</div>
            <div class="col-sm-3">3</div>
        </div>
        <div class="header-row row second-row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <ul class="menu-nav-list">
                    <li class="menu-item">
                        <span class="item-label-wrapper">
                            <a href="#" class="menu-item-label">关于展会</a>
                        </span>
                        <div class="sub-menu">
                            关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容
                        </div>
                    </li>
                    <li class="menu-item">
                        <span class="item-label-wrapper">
                            <a href="#" class="menu-item-label">观众中心</a>
                        </span>
                        <div class="sub-menu">
                            关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容
                        </div>
                    </li>
                    <li class="menu-item">
                        <span class="item-label-wrapper">
                            <a href="#" class="menu-item-label">展商中心</a>
                        </span>
                        <div class="sub-menu">
                            关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容
                        </div>
                    </li>
                    <li class="menu-item">
                        <span class="item-label-wrapper">
                            <a href="#" class="menu-item-label">展会现场活动</a>
                        </span>
                        <div class="sub-menu">
                            关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容
                        </div>
                    </li>
                    <li class="menu-item">
                        <span class="item-label-wrapper">
                            <a href="#" class="menu-item-label">媒体中心</a>
                        </span>
                        <div class="sub-menu">
                            关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容关于展会的内容
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </header>
    <div class="content-container">
        <div class="content-wrapper">
            <div class="bread-zone row">123</div>
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="contact-title">联系我们</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                    <div class="contact-element">
                        <h3 class="content-element-title">米兰国际家具（上海）展览会</h3>
                        <p class="contact-element-para">观众咨询 & 票务服务</p>
                        <p class="contact-element-para contact-element-para-second">
                            4008213388
                            <br/> saloneservice@vnuexhibitions.com.cn
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                    <article class="contact-element">

                        <ul class="list-unstyled">
                            <li class="row">
                                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                    <p>项目管理部门</p>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5"></div>
                            </li>
                            <li class="row">
                                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                    <p>
                                        <strong>运营总裁</strong>
                                        <br> 竺玲
                                        <br> jessica.zhu@vnuexhibitions.com.cn
                                    </p>

                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                    <a href="/tools/request-informations.html?uuid=f09abec7-f840-48d7-ac51-00f2171ed9e9" class="btn red-btn small">联系我们</a>
                                </div>
                            </li>
                            <li class="row">
                                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                    <p>
                                        <strong>项目经理</strong>
                                        <br> Monica Molinari
                                        <br> monica.molinari@vnuexhibitions.com.cn
                                    </p>

                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                    <a href="/tools/request-informations.html?uuid=673f5744-3147-4e5f-8809-73d60744f873" class="btn red-btn small">联系我们</a>
                                </div>
                            </li>
                            <li class="row">
                                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                    <p>
                                        <strong>市场推广部门—新闻联络处</strong>
                                    </p>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5"></div>
                            </li>
                            <li class="row">
                                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                    <p>
                                        <strong>高级市场经理</strong>
                                        <br> 陆燕敏
                                        <br> kim.lu@vnuexhibitions.com.cn
                                    </p>

                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                    <a href="/tools/request-informations.html?uuid=4644c7c7-ccc3-4645-a0cf-3b85d3fbfd25" class="btn red-btn small">联系我们</a>
                                </div>
                            </li>
                            <li class="row">
                                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                    <p>
                                        <strong>高级市场经理</strong>
                                        <br> 陈盈
                                        <br> rachel.chen@vnuexhibitions.com.cn
                                    </p>

                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                    <a href="/tools/request-informations.html?uuid=7d3159df-50fd-4b18-8ff8-b321941b724a" class="btn red-btn small">联系我们</a>
                                </div>
                            </li>
                            <li class="row">
                                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                    <p>
                                        <strong>市场主管</strong>
                                        <br> 许佩蓉
                                        <br> hope.xu@vnuexhibitions.com.cn
                                    </p>

                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                    <a href="/tools/request-informations.html?uuid=f0a42d29-c25e-4970-9e29-2db21f8615cf" class="btn red-btn small">联系我们</a>
                                </div>
                            </li>
                            <li class="row">
                                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                    <p>
                                        <strong>营运部</strong>
                                    </p>
                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5"></div>
                            </li>
                            <li class="row">
                                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                                    <p>
                                        <strong>营运经理</strong>
                                        <br> 郁佳炜
                                        <br> kingsley.yu@vnuexhibitions.com.cn
                                    </p>

                                </div>
                                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                    <a href="/tools/request-informations.html?uuid=1107ea2c-5cdc-4670-acfb-4ae2e6087edf" class="btn red-btn small">联系我们</a>
                                </div>
                            </li>
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="../js/header.js"></script>
</body>

</html>